.todo-body-wrap {
  display: flex;
  flex-direction: column !important;
  width: 70%;
  background-color: white;
  margin: 0 auto 40px;
  padding: 50px;
  min-height: 60vh;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 5px skyblue;
}

.todo-body-wrap li {
  display: flex;
  justify-content: space-between;
  list-style: decimal;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

.todo-body-wrap li span {
  font-size: 20px;
}
