.todo-header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.todo-header-wrap > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.todo-header-wrap > div h2 {
  margin-right: 10px;
}
